<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1,h2{
        text-align: center;
    }
    p{
            text-align: center;
            max-width: 300px;
            padding: 15px;
            margin:10px auto;
            border-radius: 15px;
            box-shadow: 0px 0px 10px gray;
            background-color: #dbeafe;
    }
</style>
<body>
    <main>
    <h1>Economic Price Tracker</h1>
    <h2>Track and analyze product prices for free.</h2>
    <p><a href="/track">Start Tracking</a></p>
    <footer>
    <p>Created by Team PyTrackers</p>
</footer>
</main>
</body>
</html>